mixin course-heading
  h2.course-heading
    | {{ course.cid }}: {{ course.name }}

mixin notes-panel
  .panel.panel-default.notes-panel
    .panel-heading
      h3.panel-title Notes
    table.table.table-hover.panel-body.course-notes.resource-list
      tbody
        tr(ng-repeat='note in course.notes', course-note note='note')
          
mixin grades-panel
  .panel.panel-default.grades-panel
    .panel-heading
      h3.panel-title Grades
    table.table.table-hover.panel-body.course-grades
      tbody
        tr(ng-repeat='grade in course.grades' course-grade grade='grade')

mixin exercises-panel
  .panel.panel-default.exercises-panel
    .panel-heading 
      h3.panel-title Exercises
    table.table.table-hover.panel-body.course-exercises.resource-list
      tbody(course-exercise exercise='exercise' ng-repeat='exercise in course.exercises')
        
mixin discussions-panel
  .panel.panel-default.discussions-panel
    .panel-heading
      h3.panel-title Discussions
    table.table.table-hover.panel-body
      tbody
        tr(ng-repeat='discussion in course.discussions')
          td {{ discussion.title }}
          td {{ discussion.author }}
          td {{ discussion.time.format() }}
          td
            span.badge {{ discussion.posts }}


.row
  .col-md-12
    +course-heading
.row
  .col-md-12
    .lead {{ course.describeTerms() }}
.row
  .col-md-6
    +notes-panel
    +grades-panel
  .col-md-6
    +exercises-panel
    +discussions-panel

