.row
  .col-md-12
    h2 
      | {{ course.mid }}: {{ course.name }}
      {{hello}}
      i(style='margin-left:3px').fa.fa-info-circle.small
.row
  .col-md-12
    .lead
      | This course ran in the term before last
.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        h3.panel-title Notes
      table.table.table-hover.panel-body
        tbody
          tr(ng-repeat='note in course.notes' ng-click='gotoResource(note.link)')
            td {{ note.number }}
            td
              i.fa(class='{{ getIcon(note.restype) }}')
            td {{ note.title }}
            td.small {{ dateString(note.time) }}
            td
              span.badge {{ note.discussions.length }}
    .panel.panel-default
      .panel-heading
        h3.panel-title Grades
      table.table.table-hover.panel-body
        tbody
          tr(ng-repeat='grade in course.grades')
            td {{ grade.number }}
            td
              i.fa(class='{{ getIcon(grade.type) }}')
            td {{ grade.title }}
            td.small {{ dateString(grade.submitted) }}
            td {{ grade.grade }}

  .col-md-6
    .panel.panel-default
      .panel-heading 
        h3.panel-title Exercises
      table.table.table-hover.panel-body
        tbody
          tr(ng-repeat='exercise in course.exercises' ng-click='showGivens($index)')
            td {{ exercise.number }}
            td
              i.fa(class='{{ getIcon(exercise.type) }}')
            td {{ exercise.name }}
            td.small {{ dateString(exercise.start) + ' - ' + dateString(exercise.end) }}
            td
              i.fa.fa-folder-open-o
            td
              span.badge {{ exercise.discussions.length }}
    
    .panel.panel-default
      .panel-heading
        h3.panel-title Discussions
      table.table.table-hover.panel-body
        tbody
          tr(ng-repeat='discussion in discussions')
            td {{ discussion.title }}
            td {{ discussion.author }}
            td {{ dateString(discussion.time) }}
            td
              span.badge {{ discussion.posts }}

