include grading_schema

mixin detail-row(label, binding)
  tr
    td.label-row
      b= label
    td
      span!= '{{ ' + binding + ' }}'

mixin details-table
  h1.section-header Identity
  table.user-details.table.table-bordered.table-striped
    tbody
      +detail-row('First Name', 'dashboard.first_name')
      +detail-row('Last Name', 'dashboard.last_name')
      +detail-row('Login', 'dashboard.login')
      +detail-row('Category', 'dashboard.category')
      +detail-row('Candidate No.', 'dashboard.candidate_number')
      +detail-row('CID', 'dashboard.cid')
      +detail-row('Personal Tutor', 'dashboard.personal_tutor')

mixin profile-pic
  td.profile-picture-container(rowspan='7', width='120px')
    img#cc-identity-profile-image.profile-image(src='')

mixin other-link(text, uri, fa)
  li.list-group-item(class!=attributes.class)
    i.fa(class!=fa)
    a(href!=uri)= text

mixin other-links
  h1.section-header Other Links
  ul.list-group.other-links
    +other-link('Analytics', '#', 'fa-bar-chart-o')
    +other-link('Dept Grading Schema', '#', 'fa-key')
    +other-link('Documentation', '#', 'fa-book')
    +other-link('Late Submissions / Extensions', '#', 'fa-exclamation')
    +other-link('Lecture Notes', '#', 'fa-briefcase')
    +other-link('Projects Portal', '#', 'fa-lightbulb-o')
    +other-link('Special Activities', '#', 'fa-magic')

mixin list-anchor(val, text)
  li
    a(value!=val)= text

mixin exercises-nav
  .exercise-nav
    .row.top
      .term-selector.btn-group(data-toggle='buttons-radio')
        button.btn.btn-default(value='1') Autumn
        button.btn.btn-default(value='3') Spring
        button.btn.btn-default(value='5') Summer
        button.btn.btn-default(value='6') June-July
    .row.bottom
      button.btn.btn-default Go!
      span.current-class.label
      .class-selector.btn-group
        button.btn.btn-default.dropdown-toggle(data-toggle='dropdown', href='#')
          | Select Class
          span.caret
        ul.dropdown-menu
          +list-anchor('c1', 'COMP 1')
          +list-anchor('c1', 'COMP 1')
          +list-anchor('c2', 'COMP 2')
          +list-anchor('c3', 'COMP 3')
          +list-anchor('c4', 'COMP 4')
          +list-anchor('j1', 'JMC 1')
          +list-anchor('j2', 'JMC 2')
          +list-anchor('j3', 'JMC 3')
          +list-anchor('j4', 'JMC 4')
          +list-anchor('i2', 'ISE 2')
          +list-anchor('i3', 'ISE 3')
          +list-anchor('i4', 'ISE 4')
          +list-anchor('v5', 'Computing')
          +list-anchor('s5', 'Computing Spec')
          +list-anchor('a5', 'Advanced')
          +list-anchor('r5', 'Research')
          +list-anchor('y5', 'Industrial')
          +list-anchor('b5', 'Bioinformatic')
          +list-anchor('occ', 'Occasional')
          +list-anchor('r6', 'PhD')
          +list-anchor('ext', 'External')

.dashboard(ng-controller='DashboardCtrl')
  .row
    .col-md-8
      +details-table()
    .col-md-4
      +other-links()
  hr
  .row
    .col-md-12
      h1.section-header
        | Exercises
        +exercises-nav()
      h3 Due in next week...
      table.exercises-table.table.table-hover.wide_table.module_table.table-striped.table-bordered.hidden
        tr
          th.module Module
          th.id-name ID - Name
          th.small Due On
          th.small Spec Link
          th.small Given link
        tr.hide
          td.id(style='text-align : left') NA
          td.name(style='text-align : left') NA
          td.due NA
          td.spec NA
          td.given NA
