mixin exams-collection
  table.table.table-striped.table-bordered.my-exams-table
    tr
      th.title Title
      th.t-minus Time Left
      th.date Date
      th.time Time
      th.duration Duration
    tr(ng-repeat!='exam in myexams')
      td.title
        a(exam-link='exam')
      td.t-minus {{ exam.tminus }} days
      td.date {{ exam.date }}
      td.time {{ exam.time }}
      td.duration {{ exam.duration }}

mixin all-exams
  table.table.table-striped.table-bordered.all-exams-table
    tr
      th.title Title
      th.papers Papers
    tr(ng-repeat!="exam in filterExams(exams, noToDisplay)")
      td.title
        a(exam-link='exam')
      td.papers
        .visible-lg(cut='3', paper-btns='exam')
        .visible-md(cut='2', paper-btns='exam')
        .visible-sm.visible-xs(cut='1', paper-btns='exam')

// ui-view for the exam page to replace
.exams(ui-view='')
  .row
    .col-md-12
      h2 Your Exams
      +exams-collection
  .row
    .col-md-12(ng-controller!='PaperCtrl'
      infinite-scroll='loadMore()', infinite-scroll-disabled='loading')
      h2
        | All Exams
        .input-group.exam-search.floated
          input.form-control(placeholder='Search', ng-model!='input.search')
        span.muted.floated.mine
          | Mine only?
          input(type='checkbox', ng-model!='input.mineonly')
      +all-exams
