mixin heading
  h1
    | {{ exam.id }}: {{ exam.titles[0] }}
    .pp-shortcut-dd.float-right-button(paper-btns='exam', cut='-1', placeholder='Past Papers')
  span.lead
    a.lead(ui-sref='app.exams') Exams
    | &nbsp;/ {{ exam.titles.join(', ') }}

mixin module-accordion
  accordion-group.module-accordion(ng-repeat='module in exam.related', is-open='isopen')
    accordion-heading
      span
        | {{ module.id }}: {{ module.name }}
      span.delete.module-unlink-btn(ng-click='removeModule(module)', ng-show="AppState.currentUser == 'lmj112'")
      i.pull-right.fa(ng-class="{'fa-angle-down': isopen, 'fa-angle-right': !isopen, bordered: isopen}")
    table.table.table-striped.table-bordered.notes-table
      tr
      tr(ng-repeat='note in module.getNotesLink().links')
        td.id {{ $index + 1 }}
        td
          a(ng-href='{{note.link}}') {{ note.title }}

mixin link-module-accordion
  accordion-group(ng-scope='', is-open='isopen')
    accordion-heading
      a Link Module?
      i.pull-right.fa(ng-class="{'fa-angle-down': isopen, 'fa-angle-right': !isopen, bordered: isopen}")
    table.table.table-striped.notes-table
      tr
      tr(ng-repeat="module in modules")
        td
          a(ng-click='linkModule(module)')
            | {{ module.id }}: {{ module.name }}

mixin related-notes
  .related-notes
    h2
      | Related Notes
      span.light(ng-show='exam.related.length == 0') &nbsp;- None
    accordion(close-others='oneAtATime')
      +module-accordion()
      +link-module-accordion()

mixin uploads-table
  table.table.table-bordered.table-striped.uploads-table
    tr
      th.name Name
      th.uploaded Uploaded When
      th.author Uploaded By
      th.score Score
    tr(ng-repeat='upload in exam.studentUploads | orderBy:negScore')
      td
        a(ng-href='{{upload.url}}', target='_blank') {{ upload.name }}
        span.upload-remove-btn(upload='upload', exam='exam', ng-show='AppState.currentUser == upload.author')
      td
        span {{ upload.timestamp }}
      td
        a(ng-href='{{ upload.mailto }}') {{ upload.author }}
      td
        strong +{{ upload.upvotes }} / -{{upload.downvotes}}
        .upload-upvote-btns(upload='upload', exam='exam', ng-show="!upload.hasVoted")

// The exam is in scope as EXAM.
.row
  .col-md-12
    +heading()
.row
  .col-md-12
    hr
    +related-notes
          
.row
  .student-materials.col-md-12
    hr
    h2
      | Student Uploaded Materials
      .pull-right.upload-btn(exam='exam') Upload Document
    +uploads-table()
        
    
