mixin exams-collection
  table.table.table-striped.table-bordered.my-exams-table
    tr
      th.title Title
      th.date Date
      th.time Time
      th.duration Duration
    tr(ng-repeat!='exam in myexams')
      td.title {{ exam.id }}: {{ exam.title }}
      td.date {{ exam.date }}
      td.time {{ exam.time }}
      td.duration {{ exam.duration }}

mixin paper-btn(repeat)
  a.btn.btn-default(ng-href!="{{ paper.url }}", ng-repeat!=repeat) {{ paper.year }}

mixin paper-anchor
  a(ng-href!="{{ paper.url }}") {{ paper.year }}

mixin paper-dd(cut)
  .btn-group(ng-show!='exam.papers.length > '+(cut + 1))
    button.btn.btn-default.dropdown-toggle(data-toggle='dropdown')
      | More
      span.caret
    ul.dropdown-menu
      li(ng-repeat!='paper in lastFew(exam, '+cut+')')
        +paper-anchor()

mixin paper-btns(cut, klass)
  .btn-group.paper-btns(ng-class!="{round: exam.papers.length <"+cut+"}", class=klass)
    +paper-btn('paper in firstFew(exam, '+cut+')')
    +paper-dd(cut)

mixin all-exams
  table.table.table-striped.table-bordered.all-exams-table
    tr
      th.title Title
      th.papers Papers
    tr(ng-repeat!='exam in exams | filter:input.search | filter:mine')
      td.title {{ exam.fulltitle() }}
      td.papers
        +paper-btns(3, 'visible-lg')
        +paper-btns(2, 'visible-md')
        +paper-btns(1, 'visible-sm visible-xs')


.exams
  .row
    .col-md-12
      h2 Your Exams
      +exams-collection
  .row
    .col-md-12(ng-controller!='PaperCtrl')
      h2
        | All Exams
        .input-group.exam-search.floated
          input.form-control(placeholder='Search', ng-model!='input.search')
        span.muted.floated.mine
          | Mine only?
          input(type='checkbox', ng-model!='input.mineonly')
      +all-exams
