mixin next-prev-terms
  .term-navigation.btn-group
    button.btn.btn-default(ng-click!='changePeriod(-1)', ng-class="{disabled: params.period == 1}")
      | Prev
    button.btn.btn-default(ng-click!='changePeriod(1)', ng-class="{disabled: params.period == 7}")
      | Next

mixin givens-modal
  #givens-modal.modal.hide.fade
    #givens-modal-header.modal-header
      button.close(aria-hidden='true', data-dismiss='modal', type='button') &times;
    #givens-modal-body.modal-body
      table#givens-table.table.wide_table.table-striped.table-bordered
        thead
          tr
            th.type TYPE
        tbody
          tr
            td
            td

.row
  .col-md-12
    h2
      | {{ exercises.term_title }}
      +next-prev-terms()
.row
  .col-md-12
    .lead
      | Runnning from {{ exercises.start }} to {{ exercises.end }}.
      span(ng-show!='exercises.modules.length == 0')
        br
        | There are no handins for this period.

.row(ng-repeat!='module in exercises.modules')
  .col-md-12
    h3
      | {{ module.id }}: {{ module.name }}
      span.notes-link(module='module')
    table.table.table-striped.table-bordered
      tr
        th ID
        th Name
        th.visible-lg.visible-md Set On
        th Due On
        th Spec Link
        th Given link
      tr(ng-repeat!='ex in module.exercises')
        td.id {{ ex.id }}:{{ ex.type }}
        td.name {{ ex.name || 'NA' }}
        td.visible-lg.visible-md.set {{ ex.start.format() }}
        td.due {{ ex.end.format() }}
        td.spec
          a(ng-href!="{{ 'https://cate.doc.ic.ac.uk/' + ex.spec }}", ng-show='ex.spec') Spec Link
          span(ng-show='!ex.spec') NA
        td.given
          a.givens-link(exercise='ex', ng-show='ex.givens') Givens
          span(ng-show='!ex.givens') NA
