footer.footer(ng-hide!="currentState == 'exams'")
  a.old-cate.btn.btn-default(href='https://cate.doc.ic.ac.uk')
    | But I liked the old CATE&excl;
  p
    | Created out of frustration and &heartsuit; by&nbsp;
    a(href='http://pete-hamilton.co.uk')
      | Pete Hamilton
    a(href='http://www.twitter.com/peterejhamilton')
      i.icon-twitter
    a(href='http://www.github.com/petehamilton')
      i.icon-github
  p
    | This journey is 1&percnt; finished&period; Help lessen the pain -&nbsp;
    a(href='https://github.com/petehamilton/classy-cate')
      i.fa.fa-github-alt

