mixin module-collection(cname)
  div(ng-repeat!='module in '+cname)
    h3.module-title {{ module.name }}
    table.table.table-striped.table-bordered.module-grades
      tr
        th.id ID
        th.visible-lg.type Type
        th.title Title
        th.hidden-xs.hidden-sm.set Set By
        th.visible-lg.dec Declaration
        //th.ext Extension
        th.hidden-xs.sub Submission
        th.grade-column Grade
      tr(ng-repeat!='ex in module.exercises')
        td.id {{ ex.id }}
        td.visible-lg.type {{ ex.type }}
        td.title {{ ex.title }}
        td.hidden-xs.hidden-sm.set {{ ex.set_by }}
        td.visible-lg.dec {{ ex.declaration }}
        //td.ext {{ ex.extension }}
        td.hidden-xs.sub {{ ex.submission }}
        td
          .grade-bar(data-grade!='ex.grade')

mixin stat-row(label, binding)
  tr
    td
      b= label
    td
      span= '{{ ' + binding + ' }}'
          
.grades(ng-controller='GradesCtrl')
  .row(ng-show!='grades.required_modules.length > 0')
    .col-md-12
      h2 Grades for Required Modules
      +module-collection('grades.required_modules')
  .row(ng-show!='grades.optional_modules.length > 0')
    .col-md-12
      h2 Grades for Optional Modules
      +module-collection('grades.optional_modules')
  .row
    .col-md-6
      h2 Key&quest;
      table.table.table-bordered
        tr
          td Coming Soon
    .col-md-6
      h2 Stats
      table.table.table-bordered
        +stat-row('Subscription Last Updated', 'grades.stats.subscription_last_updated')
        +stat-row('Submissions Completed', 'grades.stats.submissions_completed')
        +stat-row('Submissions Extended', 'grades.stats.submissions_extended')
        +stat-row('Submissions Late', 'grades.stats.submissions_late')
