mixin module-collection(cname)
  .col-md-12(ng-repeat!='module in '+cname)
    h3.module-title {{ module.name }}
    table.table.table-striped.table-bordered.module-grades
      tr
        th ID
        th Type
        th Title
        th Set By
        th Declaration
        th Extension
        th Submission
        th.grade-column Grade
      tr(ng-repeat!='ex in module.exercises')
        td {{ ex.id }}
        td {{ ex.type }}
        td {{ ex.title }}
        td {{ ex.set_by }}
        td {{ ex.declaration }}
        td {{ ex.extension }}
        td {{ ex.submission }}
        td
          .progress.grade-bar(data-grade!='ex.grade')
            .bar {{ ex.grade }}

mixin stat-row(label, binding)
  tr
    td
      b= label
    td
      span= '{{ ' + binding + ' }}'
          
.grades(ng-controller='GradesCtrl')
  .row(ng-show!='grades.optional_modules.length + grades.required_modules.length == 0')
    h2 No published grades.
  .row(ng-show!='grades.required_modules.length > 0')
    .col-md-12
      h2 Grades for Required Modules
      +module-collection('grades.required_modules')
  .row(ng-show!='grades.optional_modules.length > 0')
    .col-md-12
      h2 Grades for Optional Modules
      +module-collection('grades.optional_modules')
  .row
    .col-md-6
      h2 Key&quest;
      table.table.table-bordered
        tr
          td Coming Soon
    .col-md-6
      h2 Stats
      table.table.table-bordered
        +stat-row('Subscription Last Updated', 'stats.subscription_last_updated')
        +stat-row('Submissions Completed', 'stats.submissions_completed')
        +stat-row('Submissions Extended', 'stats.submissions_extended')
        +stat-row('Submissions Late', 'stats.submissions_late')
