mixin scripts
  script(src='/lib/jquery/dist/jquery.js')
  script(src='/lib/angular/angular.js')
  script(src='/lib/bootstrap/dist/js/bootstrap.js')
  script(src='/js/app.js')

mixin stylesheets
  link(rel='stylesheet', type='text/css', href='/lib/bootstrap/dist/css/bootstrap.css')
  link(rel='stylesheet', type='text/css', href='/lib/font-awesome/css/font-awesome.css')
  link(rel='stylesheet', type='text/css', href='/css/app.css')

doctype html
html(lang='en-US', ng-app='classy')
  head
    title Classy
    +stylesheets()
  body
    .container(ui-view)
      include navbar
      #page-content
    include footer
  +scripts()
