mixin uiBootstrap(module)
  script(src='/lib/ui.bootstrap/src/'+module+'/'+module+'.js')

mixin scripts
  script(src='/lib/jquery/dist/jquery.js')

mixin stylesheets
  link(rel='stylesheet', type='text/css', href='/lib/bootstrap/dist/css/bootstrap.css')
  link(rel='stylesheet', type='text/css', href='/lib/font-awesome/css/font-awesome.css')
  link(rel='stylesheet', type='text/css', href='//yandex.st/highlightjs/8.0/styles/monokai.min.css')
  link(rel='stylesheet', type='text/css', href='/css/fontello.css')
  link(rel='stylesheet', type='text/css', href='/css/app.css')

doctype html
html(lang='en-US', ng-app='classy')
  head
    title Classy
  body
    .container
      include navbar
      #app-ctrl(ui-view)
        #page-content(ui-view)
  +scripts()
