mixin li-anchor(text, state)
  li(ui-sref!=state, ui-sref-active='active')
    a= text

mixin extra-links
  li.visible-lg.visible-md
    a#nav-teachdb(href='https://teachdb.doc.ic.ac.uk/db/') Teach DB
  li.visible-lg
    a#nav-internalreg(href='https://dbc.doc.ic.ac.uk/internalreg') Module Registration

.navbar.navbar-default
  .container-fluid
    .navbar-header
      button.navbar-toggle(data-toggle='collapse', data-target='#nav-links')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(ui-sref='dashboard') CATE
      span#cc-version
    .collapse.navbar-collapse#nav-links
      ul.nav.navbar-nav
        +li-anchor('Dashboard', 'dashboard')
        +li-anchor('Exercises', 'exercises')
        +li-anchor('Grades', 'grades')
        +li-anchor('Exams', 'exams')
        +extra-links()
      ul.nav.navbar-right.navbar-nav.change-year
        li.dropdown
          a.dropdown-toggle(data-toggle='dropdown')
            span.year {{ current_year }}
            span Change Year
            b.caret
          ul.dropdown-menu.available-years(role='menu')
            li(ng-repeat!='year in available_years', ng-click='changeYear(year)')
              a {{ year }}


