mixin li-anchor(text, state)
  li(ui-sref!=state, ui-sref-active='active')
    a= text

mixin extra-links
  li.visible-lg.visible-md
    a#nav-teachdb(href='https://teachdb.doc.ic.ac.uk/db/') Teach DB
  li.visible-lg
    a#nav-internalreg(href='https://dbc.doc.ic.ac.uk/internalreg') Module Registration
  li.visible-lg
    a(ui-sref='audit') Security

.navbar.navbar-default
  .container-fluid
    .navbar-header
      button.navbar-toggle(data-toggle='collapse', data-target='#nav-links')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(ui-sref='app.dashboard') CATe
      span#cc-version
    .collapse.navbar-collapse#nav-links
      ul.nav.navbar-nav
        li.dropdown
          a.dropdown-toggle(data-toggle='dropdown')
            | Courses 
            span.caret
          ul.dropdown-menu
            li(ng-repeat='course in registeredCourses', 
               ui-sref!='app.course({mid: course.mid})', 
               ui-sref-active='active')
              a {{ course.mid + ': ' + course.name }}
        +li-anchor('Exercises', "app.exercises")
        +li-anchor('Grades', 'app.grades')
        +li-anchor('Discussions', 'app.discussions')
      ul.nav.navbar-right.navbar-nav
        li.dropdown
          a.dropdown-toggle(data-toggle='dropdown')
            i.fa.fa-cog.fa-lg
          ul.dropdown-menu
            li
              a Settings
            li
              a(auth-logout) Logout
            li.divider
            li
              a Report Issue
            li
              a Project GitHub

