mixin li-anchor(text, state)
  li
    a(ui-sref!=state)= text

.navbar.navbar-default
  .container-fluid
    .navbar-header
      button.navbar-toggle(data-toggle='collapse', data-target='#nav-links')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand CATE
      span#cc-version
    .collapse.navbar-collapse#nav-links
      ul.nav.navbar-nav
        +li-anchor('Dashboard', 'dashboard')
        +li-anchor('Exercises', 'exercises')
        +li-anchor('Grades', 'grades')
        +li-anchor('Teach DB', 'grades')
        li
          a#nav-teachdb(href='https://teachdb.doc.ic.ac.uk/db/') Teach DB
        li
          a#nav-internalreg(href='https://dbc.doc.ic.ac.uk/internalreg') Module Registration
      ul.nav.navbar-right.navbar-nav.change-year
        li.dropdown
          a.dropdown-toggle(data-toggle='dropdown')
            span
            span Change Year
            b.caret
          ul.dropdown-menu.available-years(role='menu')
            li(ng-repeat!='year in available_years')
              a {{ year }}


