.navbar.navbar-default
  .container-fluid
    .navbar-header
      button.navbar-toggle(data-toggle='collapse', data-target='#nav-links')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand CATE
      span#cc-version
    .collapse.navbar-collapse#nav-links
      ul.nav.navbar-nav
        li
          a#nav-dashboard(href='#') Dashboard
        li
          a#nav-exercises(href='#') Exercises
        li
          a#nav-grades(href='#') Grades
        li
          a#nav-teachdb(href='https://teachdb.doc.ic.ac.uk/db/') Teach DB
        li
          a#nav-internalreg(href='https://dbc.doc.ic.ac.uk/internalreg') Module Registration
      ul.nav.navbar-right.navbar-nav
        li.dropdown
          a.dropdown-toggle(data-toggle='dropdown', href='#')
            span#cc-current-year
            span Change Year
            b.caret
          ul#cc-year-dropdown.dropdown-menu(role='menu')

