mixin column(year)
  .panel.panel-default
    .panel-heading
      h3.panel-title Class {{ getClass(#{year}) }} in #{year} 
    table.table.table-striped.panel-body.course-registration
      thead
        tr
          th.co-code Code
          th.co-name Name
          th.co-exam.hidden-xs Exam
          th.co-terms Terms
          th.co-classes.visible-lg.visible-sm Classes
          th.hide.co-level Level
      tbody
        tr(ng-repeat="course in profile.courses | year:"+year)
          td.co-code
            a(course-link='course') {{ course.cid }}
          td.co-name
            a(course-link='course') {{ course.name }}
          td.co-exam.hidden-xs
            a(exam-link='course') {{ course.eid }}
          td.co-terms {{ course.terms.join(", ") }}
          td.co-classes.visible-lg.visible-sm {{ course.classes.join(", ") }}
          td.hide.co-level {{ course.level }}
 
.row
  .col-md-12
    h2 {{ profile.fullName()  }}
    .lead Student profile for {{ profile.login }}

.row
  .col-md-6
    .panel.panel-default
      table.table.table-bordered.panel-body.profile-details
        tbody
          tr
            th.cand-no.active Candidate No.
            td.cand-no {{ profile.cand }}
          tr
            th.entry.active Entry Year
            td.entry {{ profile.entryYear }}
          tr
            th.p-tutor.active Personal Tutor
            td.p-tutor {{ profile.tutor }}

    +column(2012)
  .col-md-6
    +column(2013)

