.row#timetable

  .col-md-2.hidden-sm.hidden-xs#table-course-names
    table.table
      tr(course-cell='course', ng-repeat='course in courses')

  .col-md-10
    .table-responsive#date-exs
      table.table#days-header
        colgroup
          col(ng-repeat='day in period.days track by $index')
        thead(days-bar)
      table.table#course-body
        colgroup
          col(ng-repeat='day in period.days track by $index')
        tbody(ng-repeat='course in courses')
          tr(ng-repeat='row in course.rows')
            td(exercise-box, ng-repeat='box in row', box='box')
