.row#timetable

  .col-md-2.hidden-sm.hidden-xs#table-course-names
    table.table
      tr(course-cell='course', ng-repeat='course in courses')

  .col-md-10
    .table-responsive#date-exs
      table.table
        colgroup
          col(ng-repeat='day in days track by $index')
        thead#days-header(days-bar)
        tbody.course-body(ng-repeat='course in courses')
          tr(ng-repeat='row in course.rows')
            td(exercise-box, ng-repeat='box in row', box='box')
