mixin user-input(placeholder, model, hasError)
  .form-group(ng-class="{'has-error': "+hasError+"}")
    input.form-control.input-lg(
      type='text'
      ng-model!=model
      placeholder!=placeholder)

.upload-modal
  .upload-modal-header.modal-header
    h3
      | Upload document to Exam {{ exam.id }}
      button.close(aria-hidden='true', ng-click='close()', type='button') &times;
  .notes-modal-body.modal-body.user-input
    form.form-login
      .row
        .col-md-12.form-group
          +user-input('Document Name', 'upload.name', "!valid.name")
          p
            | Click the button below to upload your resource.
          file-uploader(params='upload', url="{{ '/api/exams/' + exam.id + '/upload' }}"
                        valid='upload.name.length > 6', req-handler='submitHandler')
      .row.unselectable.hide // TODO - Evaluate if people want this
        .col-md-8.col-md-offset-4
          label.pull-right
            input(type='checkbox', ng-model!='upload.anonymous')
            span &nbsp;Anonymous
      .buffer


