/*
 * Name: Classy CATE
 * Author: Peter Hamilton
 */
html, body, .background {
  height: 100%; }

body {
  position: relative; }

.wrapper {
  min-height: 100%;
  position: relative;
  padding-bottom: 248px; }

a i {
  font-size: 20px;
  cursor: pointer; }

.centered {
  text-align: center; }

.section-header {
  margin-top: 0;
  font-size: 30px; }

#fade {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1; }

/* Profile picture styling */
.profile-image {
  max-width: 120px; }

.profile-picture-container {
  max-width: 180px; }

/* Table containing user details */
table.user-details .label-row {
  width: 210px; }

/* Links to other cate functionality */
ul.other-links li.list-group-item {
  border-radius: 0px !important;
  height: 38px; }
  ul.other-links li.list-group-item:hover {
    background: #f9f9f9; }
  ul.other-links li.list-group-item a {
    position: absolute;
    width: 100%;
    height: 100%; }
  ul.other-links li.list-group-item i {
    width: 26px; }

/* Selects term and class */
.exercise-nav {
  margin-right: 18px;
  float: right;
  display: inline;
  margin-top: 3px; }
  .exercise-nav .top {
    margin-bottom: 2px; }
  .exercise-nav .bottom .btn {
    float: right; }

table.all-exams-table .title {
  width: 50%; }

.floated {
  float: right; }

.mine {
  font-size: 14px;
  line-height: 34px;
  margin-right: 10px;
  font-weight: normal; }
  .mine input {
    margin-left: 4px; }

.exam-search {
  width: 35%; }

.paper-btns.visible-lg .btn {
  width: 110px; }
.paper-btns .btn {
  width: 114px; }
.paper-btns.round > .btn:last-child {
  border-radius: 3px !important; }

.module_table tr {
  height: 30px; }
  .module_table tr td {
    vertical-align: middle; }

.exercises-table > tbody > tr > td {
  vertical-align: middle; }
  .exercises-table > tbody > tr > td .module, .exercises-table > tbody > tr > td .id-name {
    text-align: left; }
  .exercises-table > tbody > tr > td .btn {
    margin-right: 10px;
    margin-left: 5px; }

.exercises-template > tbody > tr > td {
  vertical-align: middle; }

td.id {
  width: 10%;
  text-align: center; }

td.name {
  width: 35%;
  padding-left: 5px; }

td.set, td.due, td.spec, td.given {
  text-align: center;
  width: 13.75%; }

.footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 126px;
  width: 100%;
  text-align: center;
  padding: 30px 0;
  margin-top: 40px;
  border-top: 1px solid #E5E5E5;
  background-color: whiteSmoke; }
  .footer .old-cate.btn {
    width: 180px;
    margin-left: -90px;
    margin-top: -80px;
    position: absolute; }

table.module-grades .id {
  width: 5%; }
table.module-grades .title {
  width: 35%; }
table.module-grades .set {
  width: 10%; }
table.module-grades .sub {
  overflow: hidden;
  width: 25%;
  text-overflow: ellipsis;
  white-space: nowrap; }
table.module-grades th.grade-column {
  width: 20%;
  min-width: 100px; }
table.module-grades .progress {
  margin-bottom: 0px; }

#grading-schema-modal {
  width: 300px;
  margin-left: -150px; }
  #grading-schema-modal .close {
    margin-top: -5px; }
  #grading-schema-modal .progress {
    margin-bottom: 0px; }

.pane.login {
  max-width: 330px;
  padding: 15px;
  margin: 120px auto; }
  .pane.login .buffer {
    margin-top: 25px; }
  .pane.login button.btn, .pane.login input.form-control {
    border-radius: 1px; }
  .pane.login input.form-control {
    margin-top: 12.5px; }
  .pane.login label.remember {
    float: right; }
  .pane.login a.sign-up {
    top: 25px;
    float: left;
    position: relative; }

.pane.login {
  background-color: #f8f8f8;
  border: 1px solid #d7d7d7; }
  .pane.login .submit.btn {
    width: 100%; }
  .pane.login .register {
    text-align: right; }

.navbar {
  margin-top: 15px; }

ul.change-year .available-years {
  width: 124px;
  min-width: 124px; }

#notesContent {
  background: white;
  position: absolute;
  width: 500px;
  top: 20%;
  left: 50%;
  margin-left: -250px;
  box-shadow: 0 0 20px black;
  z-index: 2; }

#notesContent th {
  height: 35px; }

#notesContent th.id, #givens-table th.id {
  width: 15px; }

.timeline_toggle {
  float: right;
  margin-top: 6px;
  cursor: pointer; }

.timeline_toggle:hover {
  color: #0988BD; }

div[class="tooltip-inner"] {
  font-weight: normal;
  line-height: 20px; }

.timeline_slider {
  position: relative;
  width: 100%; }

