table.all-exams-table {
  .title {
    width: 50%;
  }
  td {
    vertical-align: middle !important;
  }
}

.floated {
  float: right;
}

.mine {
  font-size: 14px;
  line-height: 34px;
  margin-right: 10px;
  font-weight: normal;
  input {
    margin-left: 4px;
  }
}

.exam-search {
  width: 35%;
}

.paper-btns {
  .caret {
    margin-left: 4px;
  }
  .btn {
    width: 110px;
  }
  &.round > .btn:last-child {
    border-radius: 3px !important;
  }
  .dropdown-menu {
    min-width: 110px;
  }
}

.float-right-button {
  button {
    border-radius: 3px !important;
    width: 120px !important;
  }
  float: right;
}

.link-module-btn {
  color: #428bca;
}

.related-notes {
  .panel-body {
    padding: 0px;
    margin: 0px;
  }
  .panel-collapse {
    max-height: 260px;
    overflow: scroll;
  }

  .module-accordion .panel-heading.bordered {
    border-bottom: 1px solid #ddd;
  }

  .table-bordered.notes-table {
    border: none;
    margin-bottom: 0px;
    td { border-top: none; }
    td.id {
      border-left: none;
      width: 80px;
    }
  }
}

.delete {
  color: #d9534f;
}

.module-accordion .panel-heading:hover .module-unlink-btn {
  visibility: visible;
  transition: visibility;
  transition-delay: 0.5s;
}

.module-unlink-btn {
  margin-left: 10px;
  visibility: hidden;
}

.upload-remove-btn a {
  float: right;
  margin-right: 6px;
  i { font-size: 16px; }
}
