table.all-exams-table {
  .title {
    width: 50%;
  }
}

input.exam-search {
  float: right;
  width: 35%;
}

.paper-btns {
  &.visible-lg .btn {
    width: 110px;
  }
  .btn {
    width: 114px;
  }
  &.round > .btn:last-child {
    border-radius: 3px !important;
  }
}

