table.module-grades {
  .id {
    width: 5%;
  }
  .title {
    width: 35%;
  }
  .set {
    width: 10%;
  }
  .sub {
    overflow: hidden;
    width: 25%;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  th.grade-column {
    width: 20%;
    min-width: 100px;
  }
  .progress {
    margin-bottom: 0px;
  }
}

#grading-schema-modal {
  width: 300px;
  margin-left: -150px;
  .close {
    margin-top: -5px;
  }
  .progress {
    margin-bottom: 0px;
  }
}

