$buffer-size: 25px;

.user-input {
  .buffer {
    margin-top: $buffer-size;
  }
  button.btn, input.form-control {
    border-radius: 1px;
  }
  input.form-control {
    text-align: center;
    margin-top: $buffer-size/2;
  }
  .pull-right {
    float: right;
  }
  .submit.btn {
    width: 100%;
  }
}

.pane.login {
  max-width: 330px;
  padding: 15px;
  margin: 120px auto;
  label.remember {
    float: right;
  }
  a.sign-up {
    top: $buffer-size;
    float: left;
    position: relative;
  }
}

.pane.login {
  background-color: rgb(248, 248, 248);
  border: 1px solid #d7d7d7;
  .register {
    text-align: right;
  }
}
