.navbar {
  // margin-top: 15px;
  // border-bottom: 1px solid red;
}
ul.change-year {
  span.year {
    font-weight: bold;
    margin-right: 6px;
  }
  .available-years {
    $btn-width: 124px;
    width: $btn-width;
    min-width: $btn-width;
  }
}

.nav-text-default {
  display: none;
  margin-left: 8px;
}

.nav-text-active {
  display: inline !important;
}
