.navbar {
  // margin-top: 15px;
  // border-bottom: 1px solid red;
}
ul.change-year {
  span.year {
    font-weight: bold;
    margin-right: 6px;
  }
  .available-years {
    $btn-width: 124px;
    width: $btn-width;
    min-width: $btn-width;
  }
}

.course-finder {
  padding: 5px; 
  margin: 10px 0;
  border: 0px;
  background-color: #f8f8f8;
  width: 300px;
}
