$row-exercises-height: 30px;
$thead-margin-bottom: 10px;
$day-height: 18px;
$day-width: 30px;

#timetable {

  .cell {
    height: $row-exercises-height;
  }

  .table-responsive {
    overflow: auto;
  }

  table {
    table-layout: fixed; 
    border-collapse: separate;
  }

  #table-course-names {

    table {
      margin-top: 33px;
      border-spacing: 2px;
    }

    td {
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
      text-align: center;
      white-space: normal;
    }


  }


  #date-exs {

    table.floatThead-table {
      border-top: none;
      border-bottom: none;
      background-color: #FFF;
    }

    col {
      width: $day-width;
    }


    #days-header {

      th {
        border: 1px solid black;
        text-align: center;
        overflow: hidden;
      }

      .cell {
        height: $day-height;
      }
      
    }
    
    .course-body {

      td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .exercise {
        background-color: gray;
      }

      .cell {
        margin-top: 1px;
      }

    }
  }

}

