.timeline_toggle {
  float : right;
  margin-top : 6px;
  cursor : pointer;
}

.timeline_toggle:hover {
  color : #0988BD;
}

div[class="tooltip-inner"] {
  font-weight : normal;
  line-height : 20px;
}

.timeline_slider {
  position : relative; width : 100%;
}

