.uploads-table {
  th {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  th.name {
    width: 45%;
  }
  th.uploaded, th.author {
    width: 15%;

  }
}

.upload-modal .modal-dialog {
  width: 420px;
  .wide {
    width: 100%;
    button {
      width: 50%;
    }
  }
}

.upload-upvote-btns {
  width: auto;
  float: right;
  .upvote-arrow {
    // color: #3c763d;
  }
  .downvote-arrow {
    color: #d9534f;
  }
}
