li.nav-left-divided.dropdown.tt(ng-controller='TimeTravelCtrl'
                                ng-if='canTimeTravel', data-toggle='tooltip', 
                                data-placement='bottom', title='Time travel')
  a.dropdown-toggle(data-toggle='dropdown')
    i.fa.fa-history
  ul.dropdown-menu
    li(ng-repeat='year in timeTravelYears | orderBy: \'-year\''
       ng-click="gotoYear(year.year)")
      a {{ year.year + ' (' + year.class + ')' }}

