thead
  tr#months-bar
    th(colspan='{{values["size"]}}' ng-repeat='(month, values) in period.months')
      .wrap-cell
        {{values['name']}}

  tr#days-bar
    th(ng-repeat='day in period.days track by $index' ng-class='{today: day.isToday, weekend: day.isWeekend}')
      .wrap-cell
        {{day.number}}

